.App {
  font-family: sans-serif;
  text-align: center;
}

button {
  padding: 8px 12px;
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid #409fff;
}

button:hover {
  background-color: #409fff;
  color: #ffffff;
}

input {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #409fff;
}

.card {
  display: inline-block;
  padding: 24px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.24), 0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
}

.controls {
  width: 210px;
  margin: 24px auto 0 auto;
}

.controls > .control-buttons {
  display: flex;
  justify-content: space-between;
}

.controls > .control-buttons > *:not(:first-child) {
  margin-left: 16px;
}

.controls > .control-fields {
  margin-top: 16px;
  display: flex;
  align-items: center;
}

.controls > .control-fields > input {
  margin-right: 4px;
}

.controls > .control-fields > #control-fields-percent {
  width: 100%;
}
